<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>gallery --{% block title  %}{% endblock %}</title>
    <style type="text/css">
        body{margin: 30px;background: #ffffff}
        h1 {background: #ccf;padding: 20px}
        h2 {background:#ddf;padding: 10px}
        h3 {background:#eef;padding: 5px}
        table {width:100%}
        table th {
            text-align: left;}
    </style>
</head>
    <h1>Gallery</h1>
    {% block content %}{% endblock %}
<body>

</body>
</html>